.menu {
    grid-area: menu;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-right: 1px solid white;
    position: relative;
}
.menu-item {
    margin-top: 1rem;
    padding: 0.75rem;
    border-radius: 8px;
    cursor: pointer;
    .icon {
        color: #363636;
        line-height: 0;
    }
}
.menu > .menu-item.active {
    .icon {
        color: white;
    }
    background: #363636;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

.submenu {
    grid-area: submenu;
    display: flex;
    flex-direction: column;
    border-right: 1px solid white;
    position: relative;
    animation: animate-sub-menu 200ms cubic-bezier(0.19, 1, 0.22, 1);
    animation-fill-mode: forwards;
    .menu-item {
        color: #363636;
        text-decoration: none;
        margin-right: 1rem;
        margin-left: 1rem;
        padding: 1rem;
        &:hover {
            background: rgba(255, 255, 255, 0.5);
        }
    }
    .menu-item.active {
        background: #363636;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        color: white;
    }
}

@keyframes animate-sub-menu {
    from {
        left: -150%;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}