.bar {
    width: 100%;
}

@media (prefers-color-scheme: dark) {
    .bar.top {
        border-bottom: 1px solid rgb(15, 17, 23);
    }
    .bar.bottom {
        border-top: 1px solid rgb(15, 17, 23);
    }
}

@media (prefers-color-scheme: light) {
    .bar.top {
        border-bottom: 1px solid rgb(230, 230, 230);
    }
    .bar.bottom {
        border-top:1px solid rgb(230, 230, 230);
    }
}