.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-width: 400px;
    max-height: 100vh;
    overflow: hidden;
    .content-wrapper {
        display: flex;
        flex-direction: column;
        padding: 1rem;
        height: 100%;
        overflow: hidden;
    }
}

@media (prefers-color-scheme: dark) {
    .layout {
        background-color: rgb(31, 35, 46);
    }
}

@media (prefers-color-scheme: light) {
    .layout {
        background-color: white;
    }
}